apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: context-api
  namespace: context-foundation
  labels:
    app: context-api
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: context-api
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: api
      minAllowed:
        cpu: 500m
        memory: 512Mi
      maxAllowed:
        cpu: 4000m
        memory: 4Gi
      controlledResources:
      - cpu
      - memory
      mode: Auto
