apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: qdrant
  namespace: context-foundation
  labels:
    app: qdrant
spec:
  targetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: qdrant
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: qdrant
      minAllowed:
        cpu: 1000m
        memory: 2Gi
      maxAllowed:
        cpu: 4000m
        memory: 8Gi
      controlledResources:
      - cpu
      - memory
      mode: Auto
