---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mlcf-api
  namespace: mlcf
  labels:
    app: mlcf-api

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: mlcf-api-role
  namespace: mlcf
rules:
- apiGroups: [""]
  resources: ["configmaps", "secrets"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: mlcf-api-rolebinding
  namespace: mlcf
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: mlcf-api-role
subjects:
- kind: ServiceAccount
  name: mlcf-api
  namespace: mlcf