apiVersion: apps/v1
kind: Deployment
metadata:
  name: context-api
  namespace: context-foundation
spec:
  replicas: 5
  template:
    spec:
      containers:
      - name: api
        resources:
          requests:
            memory: "1Gi"
            cpu: "1000m"
          limits:
            memory: "4Gi"
            cpu: "4000m"
