apiVersion: v1
kind: Service
metadata:
  name: context-api
  namespace: context-foundation
  labels:
    app: context-api
    component: api
    tier: backend
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: context-api
---
apiVersion: v1
kind: Service
metadata:
  name: context-api-headless
  namespace: context-foundation
  labels:
    app: context-api
    component: api
    tier: backend
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: http
    port: 8000
    targetPort: http
    protocol: TCP
  selector:
    app: context-api
